<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
  <meta charset="UTF-8"/>
  <title>Update</title>
</head>
<body>
<!--/*@thymesVar id="user" type="com.trotfl.domain.User"*/-->
<div class="container" style="margin-top: 20px">
  <div class="card">
    <!-- Header -->
    <div class="d-flex justify-content-center mt-3">
      <label><h2 th:text="'Update ' + ${form}"></h2></label>
    </div>
    <!-- Update Password -->
    <form th:if="${form == 'password'}" th:object="${user}" th:action="@{/account/update/password}"  method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="form-group">
        <label for="currentPassword">Current password</label>
        <input type="password" class="form-control" id="currentPassword" name="password"
               placeholder="Enter password" autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword"
               placeholder="Enter new password" autocomplete="new-password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
    <!-- Update email -->
    <form th:if="${form == 'email'}" th:object="${user}" th:action="@{/account/update/email}"  method="post">
      <div class="form-group">
        <label for="email">New email</label>
        <input type="email" class="form-control" id="email" name="email"
               placeholder="Enter new email" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"
               placeholder="Enter password" autocomplete="new-password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>